<nav class="navbar">
    <a class="title" href="@Url.Action("Index", "Home")">
        <img class="logo" src="~/img/logo.png">
        <span>Rolink Records</span>
    </a>
    <i class="fas fa-bars navbar-toggle"></i>
    <section class="buttons">
        @if (ViewBag.user == null)
        {
            <a class="btn" href="@Url.Action("Register", "Auth")">Aanmelden</a>
            <a class="btn" href="@Url.Action("Login", "Auth")">Login</a>
        }
        else
        {
            <a href="@Url.Action("Index", "Catalogue")">Catelogus</a>
            <a href="@Url.Action("Index", "Account")">Account</a>
            <a class="btn" href="@Url.Action("Logout", "Auth")">Afmelden</a>
        }
    </section>
</nav>