@{
    Layout = "Layout";
    ViewData["Title"] = "Account";
}

<section class="purchasable-records">
    <div class="title">Platen</div>
    <table>
        <thead>
                <th>Title</th>
                <th>Prijs</th>
        </thead>
        <tbody>
            <tr>
                <td>test title</td>
                <td>test prijs</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="sold-records">
    <div class="title">Verkochte platen</div>
    <table>
        <thead>
                <th>Title</th>
                <th>Prijs</th>
        </thead>
        <tbody>
            <tr>
                <td>test title</td>
                <td>test prijs</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="account">
    <section class="user-details">
        <div class="title">Gebruiker gegevens</div>
        <table>
            <tr>
                <th>Naam:</th>
                <td>@ViewBag.user.Name</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>@ViewBag.user.Email</td>
            </tr>
            <tr>
                <th>Adres:</th>
                <td>@ViewBag.user.Address</td>
            </tr>
            <tr>
                <th>Postcode:</th>
                <td>@ViewBag.user.PostalCode</td>
            </tr>
            <tr>
                <th>Land:</th>
                <td>@ViewBag.user.Country</td>
            </tr>
        </table>
    </section>
    <section class="change-password">
        <div class="title">Wachwoord wijzigen</div>
        <form>
            <div class="input-box">
                <input type="password" placeholder="Wachtwoord">
                <input type="password" placeholder="Nieuw wachtwoord">
            </div>
            <button>Wachtwoord wijzigen</button>
        </form>
    </section>
</section>