@using Web_Development.Models
@{
    Layout = "Layout";
    ViewData["Title"] = "Product";
    if (ViewBag.record != null)
    {
        ViewData["Title"] = $"{ViewBag.record.Title} - {ViewBag.Record.Artist}";
    }
}

@if (ViewBag.record != null)
{
    <section class="product">
        <div class="title">@Html.ViewBag.record.Title</div>
        <div class="flex-row">
            @if (!string.IsNullOrEmpty(ViewBag.Record.YoutubeToken))
            {
                <div class="product-header">
                    <iframe src="https://www.youtube.com/embed/@Html.ViewBag.record.YoutubeToken" title="@Html.ViewBag.record.Title - @Html.ViewBag.record.Artist" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            }
            <div class="information">
                <table>
                    @foreach (var product in ViewBag.products)
                    {
                        <tr class="row">
                            <th>Prijs</th>
                            <td>€@product.Price</td>
                        </tr>
                        <tr class="row">
                            <th>Vinyl kwaliteit</th>
                            <td>@product.PlateCondition</td>
                        </tr>
                        <tr class="row">
                            <th>Sleeve kwaliteit</th>
                            <td>@product.SleeveCondition</td>
                        </tr>
                        <tr class="row">
                            <th>Aangeboden door</th>
                            <td>@product.User.Name</td>
                        </tr>
                        <tr class="row">
                            <th>Aangeboden op</th>
                            <td>@product.CreatedAt</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.record.YoutubeToken))
        {
            <div class="image-cards">
                @{
                    for (var i = 0; i < 4; i++)
                    {
                        var url = $"https://img.youtube.com/vi/{ViewBag.record.YoutubeToken}/{i}.jpg";
                        <div class="image-card">
                            <div class="image" style="background-image: url(@url)"></div>
                        </div>
                    }
                }
            </div>
        }
    </section>
}
