@{
    Layout = "Layout";
    ViewData["Title"] = $"\"{ViewBag.product.Record.Title} - {ViewBag.product.Record.Artist}\" aanpassen";
    ViewData["Script"] = "/js/record-search.js";
}

<section class="product">
    <div class="title">@ViewData["Title"]</div>
    <form method="post" action="@Url.Action("Update", "Product", new {productId = ViewBag.product.Id})">
        <div id="record-box"></div>
        <div class="input-box">
            @Html.Raw(TempData["error_for_recordId"] != null ? $"<label class='error' for='Label'>{TempData["error_for_recordId"]}" : "")
            <input type="hidden" id="record_hidden" name="RecordId" asp-for="CreateNewProduct.RecordId" value="@Html.Raw(ViewBag.createNewProduct?.RecordId ?? ViewBag.product.Record.Id)">
            <input class="input" type="text" id="record_field" placeholder="Record" value="@ViewBag.product.Record.Title - @ViewBag.product.Record.Artist">
            @Html.Raw(TempData["error_for_recordId"] != null ? "</label>" : "")
            
            @Html.Raw(TempData["error_for_price"] != null ? $"<label class='error' for='Label'>{TempData["error_for_price"]}" : "")
            <input class="input" type="text" name="Price" asp-for="CreateNewProduct.Price" placeholder="Prijs" value="@Html.Raw(ViewBag.createNewProduct?.Price ?? ViewBag.product.Price)">
            @Html.Raw(TempData["error_for_price"] != null ? "</label>" : "")
            
            @Html.Raw(TempData["error_for_plateCondition"] != null ? $"<label class='error' for='Label'>{TempData["error_for_plateCondition"]}" : "")
            <select class="input" name="PlateCondition" asp-for="CreateNewProduct.PlateCondition">
                @{ TempData["select_title"] = "plaat conditie";
                    TempData["selected"] = ViewBag.createNewProduct?.PlateCondition ?? ViewBag.product.PlateCondition; }
                @await Html.PartialAsync("_ConditionOptions")
            </select>
            @Html.Raw(TempData["error_for_plateCondition"] != null ? "</label>" : "")
            
            @Html.Raw(TempData["error_for_sleeveCondition"] != null ? $"<label class='error' for='Label'>{TempData["error_for_sleeveCondition"]}" : "")
            <select class="input" name="SleeveCondition" asp-for="CreateNewProduct.SleeveCondition">
                @{ TempData["select_title"] = "sleeve conditie";
                    TempData["selected"] = ViewBag.createNewProduct?.SleeveCondition ?? ViewBag.product.SleeveCondition; }
                @await Html.PartialAsync("_ConditionOptions")
            </select>
            @Html.Raw(TempData["error_for_sleeveCondition"] != null ? "</label>" : "")
            
            @Html.Raw(TempData["error_for_format"] != null ? $"<label class='error' for='Label'>{TempData["error_for_format"]}" : "")
            <input class="input" type="text" name="Format" asp-for="CreateNewProduct.Format" placeholder="Type" value="@Html.Raw(ViewBag.createNewProduct?.Format ?? ViewBag.product.Format)">
            @Html.Raw(TempData["error_for_format"] != null ? "</label>" : "")
            
            @Html.Raw(TempData["error_for_label"] != null ? $"<label class='error' for='Label'>{TempData["error_for_label"]}" : "")
            <input class="input" type="text" name="Label" asp-for="CreateNewProduct.Label" placeholder="Label" value="@Html.Raw(ViewBag.createNewProduct?.Label ?? ViewBag.product.Label)">
            @Html.Raw(TempData["error_for_label"] != null ? "</label>" : "")
        </div>
        <button type="submit">Product aanpassen</button>
    </form>
</section>