@{
    Layout = "Layout";
    ViewData["Title"] = $"\"{ViewBag.product.Record.Title} - {ViewBag.product.Record.Artist}\" aanpassen";
}

<section class="product">
    <div class="title">@ViewData["Title"]</div>
    <form method="post" action="@Url.Action("Create")">
        <div class="input-box">
            <input type="hidden" id="record" name="record" value="@ViewBag.product.Record.Id">
            <input type="text" placeholder="Record" value="@ViewBag.product.Record.Title">
            <input type="text" name="price" placeholder="Prijs" value="@ViewBag.product.Price">
            <select name="plate-condition">
                @await Html.PartialAsync("_ConditionOptions")
            </select>
            <select name="sleeve-condition">
                @await Html.PartialAsync("_ConditionOptions")
            </select>
            <input type="text" name="format" placeholder="Type">
            <input type="text" name="label" placeholder="Label">
        </div>
        <button type="submit">Product aanpassen</button>
    </form>
</section>