@using Web_Development.Models
@{
    Layout = "Layout";
    ViewData["Title"] = "Start pagina";
}

<section class="header">
    <div class="image"></div>
    <span class="title">Rolink Records</span>
    <div class="description">Ben u opzoek naar een webshop waar u uw vinyl collectie mee kunt vergroten, dan is <strong>Rolink Records</strong> de webshop voor u.</div>
    @if (ViewBag.user == null)
    {
        <div class="action-box">
            <a class="action" href="@Url.Action("Register", "Auth")">Account aanmaken</a>
            <a class="action" href="@Url.Action("Login", "Auth")">Inloggen</a>
        </div>
    }
    else
    {
        <div class="action-box">
            <a class="action" href="@Url.Action("Index", "Catalogue")">Bekijk de catelogus</a>
        </div>
    }
</section>

<section class="card-items">
    <span class="title">Vinyl platen</span>
    <div class="cards">
        @foreach (Record record in ViewBag.records)
        {
            @await Html.PartialAsync("_RecordCard", record)
        }
    </div>
</section>

<section class="show-more">
    <div class="image"></div>
    <span class="title">Meer zien?</span>
    <div class="description">U kunt onze volledige collectie bekijken, het enige dat u hoeft te doen is het aanmaken van een account. Maak uw account vandaag nog aan.</div>
    @if (ViewBag.user == null)
    {
        <a class="action" href="@Url.Action("Register", "Auth")">Account aanmaken</a>
    }
    else
    {
        <a class="action" href="@Url.Action("Index", "Catalogue")">Bekijk de catelogus</a>
    }
</section>